<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boredprogrammers.onetouch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/OneTouchTheme" >
        <provider
            android:name=".data.provider.ServerProvider"
            android:authorities="com.boredprogrammers.onetouch.data.provider"
            android:exported="false" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServerCommandActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.boredprogrammers.server" />
            </intent-filter>
        </activity>
    </application>

</manifest>